@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	-webkit-tap-highlight-color: transparent;
}
*::selection {
	background-color: transparent;
	color: inherit;
}

html,
body {
	background-color: black;
}

:root {
	--neo-bg: #dedede;
	--neo-shadow-dark: #b2b2b2;
	--neo-shadow-light: #ffffff;
}

.box {
	@apply m-5 w-6/12 rounded-2xl bg-neo-bg p-5 shadow-neo;
}

// [data-note='F#'] {
// 	background-color: purple;
// }

// [data-fret='0'] {
// 	background: rgba(198, 42, 42, 0.6);
// }

// [data-fret='1'] {
// 	background: linear-gradient(90deg, rgba(198, 42, 42, 0.6) 0%, rgba(128, 0, 128, 0.6) 100%);
// }

// @for $i from 2 through 2 {
// 	[data-fret='#{$i}'] {
// 		background-color: rgba(128, 0, 128, 0.6);
// 	}
// }

// [data-fret='3'] {
// 	background: linear-gradient(90deg, rgba(128, 0, 128, 0.6) 0%, rgba(0, 128, 105, 0.6) 100%);
// }

// @for $i from 4 through 4 {
// 	[data-fret='#{$i}'] {
// 		background-color: rgba(0, 128, 105, 0.6);
// 	}
// }

// [data-fret='5'] {
// 	background: linear-gradient(90deg, rgba(0, 128, 105, 0.6) 0%, rgba(128, 70, 0, 0.6) 100%);
// }

// @for $i from 6 through 7 {
// 	[data-fret='#{$i}'] {
// 		background-color: rgba(128, 70, 0, 0.6);
// 	}
// }

// [data-fret='8'] {
// 	background: linear-gradient(90deg, rgba(128, 70, 0, 0.6) 0%, rgba(14, 73, 176, 0.6) 100%);
// }

// @for $i from 9 through 9 {
// 	[data-fret='#{$i}'] {
// 		background-color: rgba(14, 73, 176, 0.6);
// 	}
// }

// [data-fret='10'] {
// 	background: linear-gradient(90deg, rgba(14, 73, 176, 0.6) 0%, rgba(198, 42, 42, 0.6) 100%);
// }

// @for $i from 11 through 12 {
// 	[data-fret='#{$i}'] {
// 		background-color: rgba(198, 42, 42, 0.6);
// 	}
// }

.guitar {
	--inlay: 1.8rem;

	@media screen and (max-width: 640px) {
		--inlay: 1.5rem;
	}

	// background-image: url(https://plus.unsplash.com/premium_photo-1675782999354-2f2711e437a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80);
	background-image: url(https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);

	.frets {
		.fret {
			&:after,
			&:before {
				left: 50%;
				content: '';
				position: absolute;
				width: var(--inlay);
				transform: translate(-50%, -50%);
				border-radius: 50%;
				aspect-ratio: 1/1;
			}

			&:nth-child(4):after,
			&:nth-child(6):after,
			&:nth-child(8):after,
			&:nth-child(10):after {
				top: 50%;
				background-image: url(https://images.unsplash.com/photo-1530669244764-0909211cd8e8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
				border: 1px solid wheat;
			}

			&:nth-child(6):after {
				top: 30%;
			}

			&:nth-child(6):before {
				top: 70%;
				background-image: url(https://images.unsplash.com/photo-1530669244764-0909211cd8e8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
				border: 1px solid wheat;
			}
		}
	}

	.strings {
		.string {
			&::after {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				width: 100%;
				background-color: rgb(186, 186, 186);
				transform: translateY(-50%);
				z-index: 20;
				pointer-events: none;
			}

			@for $i from 1 through 6 {
				&:nth-child(#{$i})::after {
					height: $i * 0.05rem;
					box-shadow: 0px $i * -1.25px 8px 1px rgba(0, 0, 0, 1);
				}
			}
		}
	}
}
